[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
altair = "*"
attrs = "*"
beautifulsoup4 = "*"
blinker = "*"
bs4 = "*"
cachetools = "*"
certifi = "*"
charset-normalizer = "*"
click = "*"
colorama = "*"
gitdb = "*"
gitpython = "*"
idna = "*"
importlib-metadata = "*"
jinja2 = "*"
jsonschema = "*"
jsonschema-specifications = "*"
markdown-it-py = "*"
markupsafe = "*"
mdurl = "*"
numpy = "*"
packaging = "*"
pandas = "*"
pillow = "*"
protobuf = "*"
pyarrow = "*"
pydeck = "*"
pygments = "*"
python-dateutil = "*"
pytz = "*"
referencing = "*"
requests = "*"
rich = "*"
rpds-py = "*"
six = "*"
smmap = "*"
soupsieve = "*"
streamlit = "*"
tenacity = "*"
toml = "*"
toolz = "*"
tornado = "*"
typing-extensions = "*"
tzdata = "*"
tzlocal = "*"
urllib3 = "*"
validators = "*"
watchdog = "*"
zipp = "*"
socid-extractor = "*"

[dev-packages]

[requires]
python_version = "3.10"
